//break points
$bp-main-top-box-1: 900px;
$bp-popup: 700px;

// Перенос скролла в hello-box вправо
$bp-hello-box-toRight-1: 620px;
$bp-hello-box-toRight-2: 1030px;
$bp-hello-box-toRight-3:  1250px;
$bp-hello-box-toBottom-1:  899px;
$bp-hello-box-toBottom-2:  1199px;

// Смета типа кнопок для фильтка устройств
$bp-change-filter-btn: 900px;

$main-mobile-padding: 20px;

//Цвета
$col-black: #333;
$col-gray: #858585;
