.popup_circle-regulator {
  & .circle-regulator {
    display: flex !important;
  }
}

.popup .popup_circle-regulator {
  max-height: 642px;
  min-height: 590px;
}

.popup_circle-regulator .popup__settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: $bp-popup) {
  .popup.popup_circle-regulator {
    width: 630px;
    max-height: 424px;
    min-height: 423px;
    width: calc(100vw - 40px);
    min-width: 400px;
    max-width: 630px;
  }
}

///////////////
.circle-regulator {
  position: absolute; // top: 163px;
  left: 50%;
  transform: translateX(-50%);
  height: 221px;
  width: 221px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__dash {
    height: 50%; // width: 1px;
    border-top: solid 21px #333;
    position: absolute;
    left: 50%;
    top: 0;
    transform-origin: 50% 100%;
    width: 2px;
  }

  &__temperature {
    font-size: 66px;
    font-family: Arial;
    font-weight: 600;
    color: #333;
    user-select: none;
  }

  &__shadow {
    height: 178px;
    width: 178px;
    box-shadow: 0 2px 4px rgba(134, 121, 71, 0.45);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__arrow {
    width: 10px;
    height: 50%;
    position: absolute;
    bottom: 50%;
    background-position: top;
    transform-origin: 50% 100%;
  }
}
