.light-settings {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    &__fieldset {
        border: none;
        margin-top: 15px;
        padding: 0;
        display: flex;
        position: relative;
        overflow: hidden;
        height: 30px;
        & input[type="radio"] {
            display: none;
        }
        & input:checked+.light-settings__btn {
            background-color: #ffd93e;
            color: #333333;
            &:hover {
                background: #fad32b;
            }
            &:focus {
                background: #ffd633
            }
            &:active {
                background: #fecb2f;
            }
        }
        & label {
            // width: 84px;
            height: 30px;
            padding: 0 15px;
            font-family: Arial;
            font-weight: 400;
            &:not(:first-child) {
                margin-left: 10px;
            }
            &:first-child {
                margin-left: 20px;
            }
        }
    }
    &__buttons-box {
        &>label:nth-child(2) {
            margin-left: 20px;
        }
        display: flex;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__outer-circle {
        border: solid 5px white;
        height: 70px;
        width: 70px;
        position: absolute;
        border-radius: 50%;
        left: -5px; 
        bottom: 0;
        transition: bottom .3s linear;
    }
    &__inner-circle {
        border: solid 4px rgba(0, 0, 0, .15);
        height: 60px;
        width: 60px;
        position: absolute;
        border-radius: 50%;
    }
    &__gradient-stripe {
        width: 60px;
        max-height: 336px;
        min-height: 210px;
        background-image: linear-gradient(0deg, #ffe88c, #ffb100);
        border-radius: 35px;
        margin: 25px auto 0;
        position: relative;
        flex-grow: 1;
    }
}

@media screen and (min-width: $bp-popup) {
    .light-settings {
        &__horizontal-stripe {
            width: 580px;
            min-height: 60px;
            height: 60px;
            background-image: linear-gradient(90deg, #ffe88c, #ffb100);
            flex-grow: unset;
        }
        &__btn {
            font-weight: 600 !important;
        }
        &__fieldset {
            margin-top: 20px;
        }
        &__buttons-box {
            &>label:nth-child(2) {
                margin-left: 25px;
            }
        }
    }
    .light-settings {
        &__outer-circle {
            left: 0;
            top: -5px;
        }
    }
}