.appliances-box {
  margin-top: 5px;
  width: 100%;

  .info-item-box__scroll {
    margin-left: -20px;
    width: calc(100% + 40px);
    overflow: hidden;
  }

  & .info-item-box__scroll {
    margin-top: 17px;
  }

  &__slider {
    // overflow: hidden;
  }

  &__title {
    font: 600 18px Arial;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .info-item-box__abs {
    padding-left: 20px;
    padding-right: 20px;
  }
}

// При переносе избранные сценариев вправо
@media all and (min-width: $bp-main-top-box-1) {
  .appliances-box {
    margin-top: 28px;
  }
}
