.icon {
    background-size: cover;
    background-position: center;

}

.icon_drizzle {
    background-image: url('../img/cloud-drizzle.svg');
}  

.icon_arrow-left {
    background-image: url('../img/icons/arrow-left.svg');
    height: 15px;
    width: 8px;
}  

.icon_arrow-right {
    background-image: url('../img/icons/arrow-right.svg');
    height: 15px;
    width: 8px;
}  