.main-top-box {
    margin-top: 55px;
}

// Избранные сценарии справа
@media screen and (min-width: 900px) {
    .hello-box__title {
        display: block;
    }
    .main-top-box {
        display: flex;
    }
    .hello-box-container {
        width: calc(100% - 446px);
    }
    .scenarios-box {
        margin-left: 6px;
        width: 446px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        &__title {
            // Смещаем на один уровень с info-item
            margin-left: 20px;
        }
        & .info-item-box {
            &__abs {
                // flex-direction: column;
                height: 120px;
                flex-wrap: wrap;
                transform: none;
                display: flex;
                width: 100%;
                height: auto;
                flex-wrap: wrap;
                flex-direction: row;
                transition: opacity .2s;
            }
            &__rel {
                height: 100%; //Меняем на 5px, потому что 15px отступа теперь у info-item
                margin-top: 5px;
                overflow: hidden !important;
            }
            &__scroll {
                flex-grow: 1;
            }
        }
        & .info-item {
            height: 100px;
            margin-top: 15px;
            margin-left: 20px; // &:not(:first-child) {
            //     margin-left: 0;
            //     margin-top: 20px;
            // }
        }
    }
}

@media screen and (min-width: 1200px) {
    .scenarios-box {
        width: 660px;
    }
}