body {
    overflow: hidden;
}

.blur-box {
    // filter: blur(2px);
    filter: blur(0px);
    transition: filter .3s
}

.popup-bg {
    background: rgba(51, 51, 51, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2999;
    height: 100%;
    width: 100%; //
    opacity: 0; 
    display: none;
    transition: opacity .3s;
}

.popup {
    position: fixed;
    // top: 50%;
    // left: 50%;
    top: 0;
    left: 0;
    // transform: translate(-50%, -50%);
    // Нам нужно сместить элемент по двум осям, что бы уменьшенный элемент попадал на точку старта
    transform: translate(-50%, -50%) scale(.1);
    z-index: 3000;
    height: 642px;
    width: 334px; //
    display: none;
    opacity: 0;
    transition: all .5s;
    &__title {
        font-family: Arial;
        font-weight: 600;
        color: #333333;
    }
    &__state {
        font-family: Arial;
        color: #333333;
    }
    &__body {
        padding: 20px;
        background: white;
        height: 492px;
        border-radius: 20px;
    }
    &__buttons {
        display: flex;
        flex-direction: column;
    }
    &__close,
    &__apply {
        margin-top: 15px;
        width: 100%;
        height: 60px;
    }
}

.temperature-box {
    position: absolute;
    top: 163px;
    left: 50%;
    transform: translateX(-50%);
    height: 221px;
    width: 221px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    &__dash {
        // height: 110.5px;
        height: 50%;
        Width: 1px;
        /*   background: #000; */
        border-top: solid 21px #333333;
        position: absolute;
        left: 50%;
        top: 0;
        /* transform: rotate(45deg); */
        transform-origin: 50% 100%;
    }
    &__temperature {
        font-size: 66px;
        font-family: Arial;
        font-weight: 600;
        color: #333333;
        user-select: none;
    }
    &__shadow {
        height: 178px;
        width: 178px;
        box-shadow: 0 2px 4px rgba(134, 121, 71, .45);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    &__arrow {
        width: 10px;
        height: 50%;
        position: absolute;
        bottom: 50%;
        background-position: top;
        transform-origin: 50% 100%;
    }
}

.light-settings {
    &__buttons-box {
        display: flex;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__fieldset {
        border: none;
        margin-top: 15px;
        padding: 0;
        display: flex;
        position: relative;
        overflow: hidden;
        height: 30px;
        & input[type="radio"] {
            display: none;
        }
        & input:checked+label {
            background: red;
        }
        & label {
            width: 84px;
            height: 30px;
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
    &__outer-circle {
        border: solid 5px white;
        height: 70px;
        width: 70px;
        position: absolute;
        border-radius: 50%;
        left: -5px;
        bottom: 0;
        transition: bottom .3s linear;
    }
    &__inner-circle {
        border: solid 4px rgba(0, 0, 0, .15);
        height: 60px;
        width: 60px;
        position: absolute;
        border-radius: 50%;
    }
    &__gradient-stripe {
        width: 60px;
        height: 336px;
        background-image: linear-gradient(0deg, #ffe88c, #ffb100);
        border-radius: 35px;
        margin: 25px auto 0;
        position: relative;
    }
}