.arrows {
    z-index: 100;
    display: none;
}

.scenarios-box {
    margin-top: 31px;
    width: 100%; // overflow: hidden;
    flex-shrink: 0;
    &__slider {
        overflow: hidden;
    }
    &__title {
        font: 600 18px Arial;
        color: #333333;
        display: flex;
        justify-content: space-between;
    } // &__rel {
    //     position: relative;
    //     height: 120px;
    //     margin-top: 20px;
    // }
    // &__abs {
    //     display: flex;
    //     position: absolute;
    //     width: auto;
    //     height: 100%;
    // }
}

.appliances-box {
    margin-top: 5px;
    width: 100%;
    & .info-item-box__scroll {
        margin-top: 17px;
    }
    &__slider {
        overflow: hidden;
    }
    &__title {
        font: 600 18px Arial;
        color: #333333;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__filter {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        font-size: 13px;
        color: #000000;
        font-family: Arial;
        font-weight: 600;
        padding-left: 14px;
        background-color: transparent;
        height: 30px; // width: 200px;
        & option {
            background: white;
            border: none;
            &:active,
            &:focus {
                outline: none;
                box-shadow: none;
            }
            &:hover {
                background: red;
            }
        }
    }
    &__filter-box {
        background: #FFD93E;
        width: 71px;
        height: 30px;
        border-radius: 20px;
    }
}

.appliances-box .info-item-box__rel,
.scenarios-box .info-item-box__scroll {
    // Перекрываем паддинг на body 20px
    //   width: calc(100% + 40px);
    //   margin-left: -20px;
}

.info-item-box {
    &__scroll {
        overflow: hidden;
        height: 120px; // margin-top: 20px;
        margin-top: 19px;
    }
    &__rel {
        position: relative;
        height: 150px;
        overflow-x: auto; // overflow: hidden;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        /* Remove the default scrollbar for WebKit implementations */
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__abs {
        display: flex;
        position: absolute;
        width: auto;
        height: 100%;
        transition: transform .2s ease-in-out; // margin-bottom: -25px;
        // overflow-y: hidden;
        // overflow-x: scroll;
    }
}

.no-transition {
    transition: none !important;
}