@import 'helpers/helpers';
@import 'elements/icons';
@import 'layouts/header';
@import 'layouts/info-item';
@import 'layouts/hello-box/hello-box';
@import 'layouts/favorite-scenarios/scenarios-container';
@import 'layouts/main-top-box';
@import 'layouts/slide-menu';
@import 'layouts/popup/popup';
@import 'layouts/favorite-devices/favorite-devices-btn';
@import 'layouts/footer';
@import 'elements/buttons';
@import 'layouts/favorite-devices/favorite-devices-container';

body {
  padding: 0 20px;
  min-width: 320px;
}

.arrows {
  display: none;
  width: 44px;
  justify-content: space-between;
}

.arrows-appliances-box {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

input[type="checkbox"] {
  display: none;
}

@media all and (min-width: $bp-change-filter-btn) {
  .arrows {
    display: flex;
  }

  .arrows-appliances-box {
    justify-content: space-between;
  }
}
