// Сброс стандартных стилей

@import 'normalize';

// Элементы
@import 'icons_buttons';

// Секции
@import 'header';
@import 'info-item';
@import 'hello-box';
@import 'scenarios';
@import 'main-top-box';
@import 'slide-menu';
@import 'popup';
@import 'footer';




body {
    padding: 0 20px;
    min-width: 320px;
}

.arrows {
    display: flex;
    width: 33px;
    justify-content: space-between;
}