@import 'normalize';
@import 'helpers/helpers';

// Секции
@import 'header';
@import 'info-item';
@import 'layouts/hello-box/hello-box';
@import 'scenarios';
@import 'main-top-box';
@import 'slide-menu';
@import 'layouts/popup/popup';
@import 'layouts/favorite-devices-btn';
@import 'footer';


body {
    padding: 0 20px;
    min-width: 320px;
}

.arrows {
    display: none;
    width: 44px;
    justify-content: space-between;
}
.arrows-appliances-box {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}

@media all and (min-width: $bp-change-filter-btn) {
    .arrows {
        display: flex;
    }
    .arrows-appliances-box {
        justify-content: space-between;
    }
}